@model MvcLabManager.Models.Computer

@{
    ViewData["Title"] = $"Computador {Model.Id}";
}


<div class="alert alert-success" role="alert">
    <h1>@ViewData["Title"] deletado com sucesso!</h1>
</div>

<a class="btn btn-dark" href="/Computer/Index">Página anterior</a>
