@model MvcLabManager.Models.Computer

@{
    ViewData["Title"] = "Editar Computador";
}
<h1>@ViewData["Title"]</h1>

<p>Utilize o formulário abaixo para editar o computador!</p>

    <form method="post">
        <p>
            <label for="id"><strong>Id:</strong></label>
            <input asp-for="@Model.Id" readonly>
        </p>
        <p>
            <label for="ram"><strong>RAM: </strong></label>
            <input asp-for="@Model.Ram" required>
        </p>
          <p>
            <label for="processor"><strong>Processador: </strong></label>
            <input asp-for="@Model.Processor" required>
        </p>
       
        <button asp-controller="Computer" asp-action="Update" class="btn btn-outline-success">Atualizar</button>
    </form>