@{
    ViewData["Title"] = "Cadastrar Laboratório";
}
<h1>@ViewData["Title"]</h1>

<p>Utilize o formulário abaixo para cadastrar um novo laboratório!</p>

    <form action="Create" method="post">
        <p>
            <label for="id"><strong>Id:</strong></label>
            <input type="text" name="id" id="id" required>
        </p>
        <p>
            <label for="number"><strong>Número: </strong></label>
            <input type="number" name="number" id="number" required>
        </p>
        <p>
            <label for="name"><strong>Nome: </strong></label>
            <input type="text" name="name" id="name" required>
        </p>
         <p>
            <label for="block"><strong>Bloco: </strong></label>
            <input type="text" name="block" id="block" required>
        </p>
       
        <button type="submit" class="btn btn-outline-success">Cadastrar</button>
    </form>